@import "tailwindcss";

@theme {
  --color-bg: #0c0c0c;
  --color-panel: #141414;
  --color-line: #262626;
  --color-accent: #34d399;
  --color-muted: #a3a3a3;

  --color-rarity-c: #9ca3af;
  --color-rarity-pc: #22c55e;
  --color-rarity-r: #3b82f6;
  --color-rarity-sr: #a855f7;
  --color-rarity-ur: #ef4444;
  --color-rarity-l: #f59e0b;
}

html,
body {
  background: var(--color-bg);
  color: #f5f5f5;
}
